html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: $primary-80;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body {
    font-size: .875rem;
  }
}

.btn-white {
  color: $primary;

  background-color: #fff;
  border-color: $primary-60;
}

.icon-centered {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  &.right-3 {
    right: 1 * $spacer;
  }

  &.right-4 {
    right: 1 .5 * $spacer;
  }

  &.left-3 {
    left: 1 * $spacer;
  }

  &.left-4 {
    left: 1.5 * $spacer;
  }
}

.multiselect__content-wrapper {
  max-height: 240px;
}

.multiselect__input,
.multiselect__placeholder {
  padding-top: 0;
  padding-left: .25rem;
  margin-bottom: 0;

  font-size: 1rem;
  line-height: 1rem;
  color: $secondary;
  vertical-align: middle;
}

.multiselect .multiselect__option--highlight {
  background-color: $primary-100;
}

.multiselect .multiselect__option--selected.multiselect__option--highlight {
  background-color: $primary-100;
}
