@import "./variables";
@import "~bootstrap";
@import "./theme";

$utilities: map-merge(
  $utilities,
  (
    "height": (
      property: height,
      class: h,
      values: (
        10: 10%,
        25: 25%,
        50: 50%,
        70: 70%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    )
  )
);
